<header class='fixed-top' id='header'>
<a class='logo mr-auto' href='index.html' id='template-im3f'>
<img class='img-fluid' src='assets/img/logo.png' alt='' id='template-i810i'>
</a>
<div class='navbar' id='template-ixvoa'>
<nav class='nav-menu d-none d-lg-block' id='template-in2xm'>
<ul id='template-iyj9x'>
<li class='active' id='template-iw1hd'>
<a href='index.html' id='template-i2l0q'>Home</a>
</li>
<li id='template-igi33'>
<a href='' id='template-i4vo5'>Products</a>
</li>
<li id='template-iux7p'>
<a href='' id='template-ibrjf'>Software And Drivers</a>
</li>
<li id='template-ic5fa'>
<a href='' id='template-ia8x8'>Diagnostic Tool</a>
</li>
<li id='template-iglqt'>
<a href='' id='template-ixhp6'>Contact Support</a>
</li>
<li id='template-iu3ed'>
<a href='' id='template-i7ohu'>Business Support</a>
</li>
</ul>
</nav>
</div>
</header>
<section class='d-flex align-items-center' id='hero'>
<div class='container' id='template-ihuzt'>
<div class='row bannermar' id='template-iv557'>
<div class='col-lg-8 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1' id='template-iiuwz'>
<h1 id='template-i9otw'>Welcome to HP customer support</h1>
<h2 id='template-i09ph'>how can we help ?</h2>
<p class='bannerpar' id='template-icue8'>Try asking our Virtual Agent</p>
<div class='d-lg-flex' id='template-i8m6g'>
<a class='btn-get-started scrollto' href='#about' id='template-isdxq'>Chat Now</a>
</div>
</div>
<div class='col-lg-4 order-1 order-lg-2 hero-img' id='template-i89qx'>
<img class='img-fluid animated' src='assets/img/hero-img.png' alt='' id='template-i5hzz'>
</div>
</div>
</div>
</section>
<main id='main'></main>
<section class='services section-bg' id='services'>
<div class='container' id='template-ipdbi'>
<div class='row' id='template-i6z9k'>
<div class='col-xl-4 col-md-4 d-flex align-items-stretch' id='template-iqdo6'>
<div class='icon-box' id='template-ilu2b'>
<img class='img-fluid' src='assets/img/pen-drive.png' alt='' id='template-ii17m'>
<h4 id='template-inwgp'>
<a href='' id='template-imj7a'>software and drivers</a>
</h4>
</div>
</div>
<div class='col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-md-0' id='template-ivciw'>
<div class='icon-box' id='template-iixxz'>
<img class='img-fluid' src='assets/img/printer.png' alt='' id='template-iqzyh'>
<h4 id='template-i9beu'>
<a href='' id='template-iv433'>printer support</a>
</h4>
</div>
</div>
<div class='col-xl-4 col-md-4 d-flex align-items-stretch mt-4 mt-xl-0' id='template-itlas'>
<div class='icon-box' id='template-i075j'>
<img class='img-fluid' src='assets/img/laptop.png' alt='' id='template-ipith'>
<h4 id='template-iocnf'>
<a href='' id='template-i3w8b'>computer support</a>
</h4>
</div>
</div>
</div>
</div>
</section>
<section class='about' id='about'>
<div class='container' id='template-izzmn'>
<div class='section-title' id='template-iwodu'>
<h2 id='template-iw8ok'>More support resources</h2>
</div>
<div class='row content' id='template-ibg7g'>
<div class='col-xl-3 col-md-6 d-flex align-items-stretch about-col about-pad hideabout' id='template-iqnip'>
<div class='about-box' id='template-ibsfh'>
<i class='icofont-badge' id='template-ioh1l'></i>
<p id='template-ia52h'>check warranty status</p>
</div>
<div class='about-box' id='template-i3q6h'>
<i class='icofont-computer' id='template-iabbg'></i>
<p id='template-i2wbj'>use diagnostic tools to find and fix issues</p>
</div>
<div class='about-box' id='template-ii7aw'>
<i class='icofont-support' id='template-iz0sb'></i>
<p id='template-i7gdh'>contact an HP agent for support</p>
</div>
</div>
<div class='col-xl-3 col-md-6 d-flex align-items-stretch about-pad hideabout' id='template-ilshc'>
<div class='img-box' id='template-iapwr'>
<img class='img-fluid' src='assets/img/design.png' alt='' id='template-ip9uj'>
</div>
</div>
<div class='col-md-6 col-sm-12 col-xs-12 about-secpad' id='template-ipus2'>
<div class='col-xl-6 col-md-12 d-flex align-items-stretch about-col about-pad' id='template-isgmm'>
<div class='about-secbox' id='template-i6nkx'>
<i class='icofont-brand-windows' id='template-igzqi'></i>
<p id='template-ii3bb'>Fix Windows 10 Update Issues</p>
</div>
<div class='about-secbox' id='template-i13jp'>
<i class='icofont-paper' id='template-iuuc2'></i>
<p id='template-iht7z'>Register your product</p>
</div>
</div>
<div class='col-xl-6 col-md-12 d-flex align-items-stretch about-col about-pad' id='template-i7nhe'>
<div class='about-secbox' id='template-idn3h'>
<i class='icofont-users-social' id='template-iqtgg'></i>
<p id='template-iv7wb'>Ask the community</p>
</div>
<div class='about-secbox' id='template-i5oyx'>
<i class='icofont-video' id='template-iqggi'></i>
<p id='template-il7ng'>Watch a video</p>
</div>
</div>
</div>
</div>
</div>
</section>
<footer id='footer'>
<div class='footer-newsletter' id='template-ij82u'>
<div class='container' id='template-i5mn7'>
<div class='row justify-content-center' id='template-ilzbk'>
<div class='col-lg-6' id='template-isvyy'>
<h4 id='template-ixqyi'>Search our knowledge library</h4>
<form>
<div type='email' name='email' id='template-icpah'>
</div>
<div type='submit' value='Search' id='template-i5j9f'>
</div>
</form>
</div>
</div>
</div>
</div>
<div class='footer-top' id='template-i4ku3'>
<div class='container' id='template-i485h'>
<div class='row' id='template-iy2j44'>
<div class='col-lg-3 col-md-6 footer-links' id='template-idjn9z'>
<h4 id='template-iubu6r'>About Us</h4>
<ul id='template-ivoj0j'>
<li id='template-iopvs7'>
<i class='bx bx-chevron-right' id='template-i0smnf'></i>
 
<a href='#' id='template-i1ll06'>Contact HP</a>
</li>
<li id='template-irq7wv'>
<i class='bx bx-chevron-right' id='template-izo6az'></i>
 
<a href='#' id='template-iitsyw'>Careers</a>
</li>
<li id='template-ig4fbj'>
<i class='bx bx-chevron-right' id='template-i3lf8z'></i>
 
<a href='#' id='template-iowm27'>Investor Relations</a>
</li>
<li id='template-i3k2wk'>
<i class='bx bx-chevron-right' id='template-idfzwk'></i>
 
<a href='#' id='template-ivsxgl'>Sustainable Impact</a>
</li>
<li id='template-ixuatr'>
<i class='bx bx-chevron-right' id='template-iqzqxi'></i>
 
<a href='#' id='template-iej7ec'>Press Center</a>
</li>
<li id='template-ixxejo'>
<i class='bx bx-chevron-right' id='template-i40xkr'></i>
 
<a href='#' id='template-ib28ef'>The Garage</a>
</li>
</ul>
</div>
<div class='col-lg-3 col-md-6 footer-links' id='template-iz5hsp'>
<h4 id='template-inwqnl'>Ways to buy</h4>
<ul id='template-izikvk'>
<li id='template-inkm7f'>
<i class='bx bx-chevron-right' id='template-idpx0z'></i>
 
<a href='#' id='template-id9tg2'>Shop online</a>
</li>
<li id='template-ihanal'>
<i class='bx bx-chevron-right' id='template-ikpt26'></i>
 
<a href='#' id='template-iinf79'>Call an HP rep</a>
</li>
<li id='template-imb6hg'>
<i class='bx bx-chevron-right' id='template-ite3a6'></i>
 
<a href='#' id='template-ihlt02'>Find a reseller</a>
</li>
<li id='template-i3sx65'>
<i class='bx bx-chevron-right' id='template-iq5bnk'></i>
 
<a href='#' id='template-i4bhay'>Enterprise store</a>
</li>
<li id='template-ixj8hg'>
<i class='bx bx-chevron-right' id='template-isknft'></i>
 
<a href='#' id='template-ibw9uv'>Public sector purchasing</a>
</li>
</ul>
</div>
<div class='col-lg-3 col-md-6 footer-links' id='template-ijlyff'>
<h4 id='template-iyuebr'>Support</h4>
<ul id='template-i1nkpo'>
<li id='template-iftwsl'>
<i class='bx bx-chevron-right' id='template-ibqi3t'></i>
 
<a href='#' id='template-isr6rk'>Download drivers</a>
</li>
<li id='template-i32fls'>
<i class='bx bx-chevron-right' id='template-i83s1i'></i>
 
<a href='#' id='template-i0i7lk'>Support & troubleshooting</a>
</li>
<li id='template-iz197u'>
<i class='bx bx-chevron-right' id='template-ij7f3h'></i>
 
<a href='#' id='template-iw9o3b'>Community</a>
</li>
<li id='template-i37sdz'>
<i class='bx bx-chevron-right' id='template-i6hy46'></i>
 
<a href='#' id='template-i1rglj'>Register your product</a>
</li>
<li id='template-iwu2i1'>
<i class='bx bx-chevron-right' id='template-icexja'></i>
 
<a href='#' id='template-ifzap6'>Authorized service providers</a>
</li>
<li id='template-icuu5x'>
<i class='bx bx-chevron-right' id='template-ibarmw'></i>
 
<a href='#' id='template-izfenf'>Check repair status</a>
</li>
<li id='template-ipvbov'>
<i class='bx bx-chevron-right' id='template-ij94dd'></i>
 
<a href='#' id='template-icia7z'>Training & certification</a>
</li>
</ul>
</div>
<div class='col-lg-3 col-md-6 footer-links' id='template-i0idqj'>
<h4 id='template-ivqmt2'>Training & certification</h4>
<ul id='template-i5he9m'>
<li id='template-ipj2gu'>
<i class='bx bx-chevron-right' id='template-it2m4g'></i>
 
<a href='#' id='template-i6rvl1'>HP Partner First program</a>
</li>
<li id='template-ikt9s9'>
<i class='bx bx-chevron-right' id='template-igbn79'></i>
 
<a href='#' id='template-ifyy8i'>HP Partner Portal</a>
</li>
<li id='template-ic2q4y'>
<i class='bx bx-chevron-right' id='template-i65o96'></i>
 
<a href='#' id='template-in97q1'>Developers</a>
</li>
</ul>
</div>
</div>
</div>
</div>
</footer>