<header class='fixed-top' id='header'>
<a class='logo mr-auto' href='index.html' id='template-im3f'>
<img class='img-fluid' src='assets/img/logo.png' alt='' id='template-i810i'>
</a>
<div class='navbar' id='template-ixvoa'>
<nav class='nav-menu d-none d-lg-block' id='template-in2xm'>
<ul id='template-iyj9x'>
<li class='active' id='template-iw1hd'>
<a href='index.html' id='template-i2l0q'>Home</a>
</li>
<li id='template-igi33'>
<a href='' id='template-i4vo5'>Products</a>
</li>
<li id='template-iux7p'>
<a href='' id='template-ibrjf'>Software And Drivers</a>
</li>
<li id='template-ic5fa'>
<a href='' id='template-ia8x8'>Diagnostic Tool</a>
</li>
<li id='template-iglqt'>
<a href='' id='template-ixhp6'>Contact Support</a>
</li>
<li id='template-iu3ed'>
<a href='' id='template-i7ohu'>Business Support</a>
</li>
</ul>
</nav>
</div>
</header>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'top': '100px','display': confirmLangChangeModal}">
  <div class="modal-dialog modal-sm" role="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>language change cause you to re-login</p>
      </div>
      <div class="modal-footer" style="padding: 5px">
        <button type="button" (click)="confirmLangChange()" class="btn btn-default">Confirm</button>
        <button type="button" (click)="onCloseHandled()" class="btn btn-default">Cancel</button>
      </div>
    </div>

  </div>
</div>